.tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 8px;
    border-radius: 8px;
    bottom: -40px;
    display: none;
}

.text {
    position: relative;
    margin: 16px;
    display: inline-block;
    /* text-decoration: 1px dotted black; */
    border-bottom: 1px dotted black;
}

.text:hover .tooltip {
    display: block;
}
