* {
    box-sizing: border-box;
}

header {
    display: flex;
    text-align: center;
    /* justify-content: center; */
}

h1 {
/*     flex-basis: 300px; */
    /* background-color: green; */
    flex-grow: 1;
    flex-shrink: 0;
    /* justify-content: center; */
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row */
}
