* {
    box-sizing: border-box;
    /* box-sizing: content-box; */
    /* box-sizing: padding-box; */
}

header {
    display: flex;
    justify-content: center;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
    /* height: auto; */
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}
